Repository JhonMoofarrif-SB/root-block: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{css}": ["stylelint --fix", "prettier --write"],
  "*.{json,md,html}": ["prettier --write"],
  "package.json": ["sort-package-json", "prettier --write"]
}

fix(vercel): update build configuration and fix lint-staged config
  .lintstagedrc.json
  vercel.json
Due: prettier --write

feat(storybook): add comprehensive Secondary button story
  packages/docs/src/atoms/Button.stories.ts
Due: eslint --fix, prettier --write

feat: add error button demo and matrix
  bun.lock
Due: none

feat: add Stylelint configuration and error button demo
  .stylelintrc.json
  examples/button/error.html
  examples/index.html
  package.json
  packages/atoms/src/button.css
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

🔖 BACKUP: Pre-migration snapshot (root-block → bolivar-ui)
  packages/docs/src/atoms/Button.stories.ts
Due: eslint --fix, prettier --write

💾 Checkpoint: bolivar-ui completo antes de cambio a seguros-bolivar-ui
  packages/docs/src/atoms/Alert.stories.ts
Due: eslint --fix, prettier --write

🔧 FIX: Actualizar imports en examples y Storybook
  docs/guides/BRAND-OVERRIDE-SYSTEM.md
  docs/guides/CSS_STANDARDS.md
  docs/guides/DECISION_TOKENS_STRATEGY.md
  docs/guides/GUIA_PERSONALIZACION_SECONDARY.md
  docs/guides/TOKENS_VS_OVERRIDES.md
  docs/optimization/FLUJO_VISUAL_CSS.md
  docs/optimization/GUIA_IMPLEMENTACION_PURGECSS.md
  docs/optimization/IMPLEMENTACION_CRITICAL_CSS.md
  docs/optimization/INDICE_OPTIMIZACION.md
  docs/optimization/QUICK_START_OPTIMIZACION.md
  docs/optimization/RESUMEN_ANALISIS_OPTIMIZACION.md
  examples/button/error.html
  examples/button/primary.html
  examples/button/secondary.html
  examples/index.html
  packages/atoms/src/input.css
  packages/docs/src/atoms/Alert.stories.ts
  packages/docs/src/atoms/Button.stories.ts
  packages/docs/src/atoms/Input.stories.ts
  packages/docs/src/atoms/Select.stories.ts
  packages/docs/src/atoms/TextArea.stories.ts
  packages/docs/src/atoms/Toggle.stories.ts
Due: eslint --fix, prettier --write

feat:changing brand
  .husky/pre-commit
Due: none

feat: Add Checkbox Component to Seguros Bolivar UI Design System
  examples/checkbox/index.html
  packages/atoms/package.json
  packages/atoms/src/checkbox.css
  packages/atoms/src/index.css
  packages/bundle/src/builder.ts
  packages/docs/src/atoms/Checkbox.stories.ts
Due: eslint --fix, prettier --write, sort-package-json

feat: Add Radio Button Component to Seguros Bolivar UI Design System
  examples/index.html
  examples/radio/index.html
  packages/atoms/package.json
  packages/atoms/src/index.css
  packages/atoms/src/radio.css
  packages/bundle/src/builder.ts
  packages/docs/src/atoms/Radio.stories.ts
Due: eslint --fix, prettier --write, sort-package-json

feat: Update Vercel configuration and add .vercelignore file
  examples/.vercelignore
  vercel.json
Due: prettier --write

chore: Simplify Vercel configuration by removing unnecessary options
  vercel.json
Due: prettier --write

Componentes input y txt area con sistema de diseño bolivar
  examples/index.html
  examples/input/README.md
  examples/input/index.html
  examples/textarea/index.html
  packages/atoms/src/input.css
  packages/brand-overrides/src/cien-cuadras/index.css
  packages/brand-overrides/src/cien-cuadras/input.css
  packages/brand-overrides/src/cien-cuadras/textarea.css
  packages/brand-overrides/src/davivienda/index.css
  packages/brand-overrides/src/davivienda/input.css
  packages/brand-overrides/src/davivienda/textarea.css
  packages/brand-overrides/src/doctor-aki/index.css
  packages/brand-overrides/src/doctor-aki/input.css
  packages/brand-overrides/src/doctor-aki/textarea.css
  packages/brand-overrides/src/jelpit/index.css
  packages/brand-overrides/src/jelpit/input.css
  packages/brand-overrides/src/jelpit/textarea.css
  packages/brand-overrides/src/seguros-bolivar/index.css
  packages/brand-overrides/src/seguros-bolivar/input.css
  packages/brand-overrides/src/seguros-bolivar/textarea.css
  packages/brand-overrides/src/white-label/index.css
  packages/brand-overrides/src/white-label/input.css
  packages/brand-overrides/src/white-label/textarea.css
  packages/docs/src/atoms/Input.stories.ts
  packages/docs/src/atoms/TextArea.stories.ts
Due: eslint --fix, prettier --write

feat: Add Spinner Component to Seguros Bolivar UI Design System
  examples/index.html
  examples/spinner/README.md
  examples/spinner/index.html
  packages/atoms/src/index.css
  packages/atoms/src/spinner.css
  packages/bundle/src/builder.ts
Due: eslint --fix, prettier --write

feat: Add Form Demo Page to Seguros Bolivar UI Design System
  examples/assets/fonts/bolivar/Bolivar-Bold-Italic.woff2
  examples/assets/fonts/bolivar/Bolivar-Bold.woff2
  examples/assets/fonts/bolivar/Bolivar-ExtraBold-Italic.woff2
  examples/assets/fonts/bolivar/Bolivar-ExtraBold.woff2
  examples/assets/fonts/bolivar/Bolivar-Italic.woff2
  examples/assets/fonts/bolivar/Bolivar-Light-Italic.woff2
  examples/assets/fonts/bolivar/Bolivar-Light.woff2
  examples/assets/fonts/bolivar/Bolivar-Regular.woff2
  examples/assets/fonts/bolivar/Bolivar-SemiBold-Italic.woff2
  examples/assets/fonts/bolivar/Bolivar-SemiBold.woff2
  examples/assets/fonts/bolivar/bolivar.scss
  examples/form-demo.html
  examples/index.html
Due: prettier --write

refactor: Remove input and select icons from index.html
  examples/index.html
Due: prettier --write

se agrega toogle y select y ajuste estilos
  examples/index.html
  examples/select/index.html
  examples/toggle/index.html
  packages/brand-overrides/src/cien-cuadras/index.css
  packages/brand-overrides/src/cien-cuadras/toggle.css
  packages/brand-overrides/src/davivienda/index.css
  packages/brand-overrides/src/davivienda/toggle.css
  packages/brand-overrides/src/doctor-aki/index.css
  packages/brand-overrides/src/doctor-aki/toggle.css
  packages/brand-overrides/src/jelpit/index.css
  packages/brand-overrides/src/jelpit/toggle.css
  packages/brand-overrides/src/seguros-bolivar/index.css
  packages/brand-overrides/src/seguros-bolivar/select.css
  packages/brand-overrides/src/seguros-bolivar/toggle.css
  packages/brand-overrides/src/white-label/index.css
  packages/brand-overrides/src/white-label/toggle.css
  packages/docs/src/atoms/Select.stories.ts
  packages/docs/src/atoms/Toggle.stories.ts
Due: eslint --fix, prettier --write

feat: Add Stepper Component to Seguros Bolivar UI Design System
  examples/form-demo.html
  examples/stepper/README.md
  examples/stepper/demo.html
  examples/stepper/index.html
  examples/stepper/simple.html
  packages/bundle/src/builder.ts
  packages/docs/src/molecules/Stepper.stories.ts
  packages/molecules/src/components/stepper/STEPPER_README.md
  packages/molecules/src/components/stepper/index.css
  packages/molecules/src/components/stepper/stepper.css
  packages/molecules/src/index.css
Due: eslint --fix, prettier --write

se agrega calendario stepper,alert, dropdown
  examples/alert/index.html
  examples/calendar/README.md
  examples/calendar/WEB-COMPONENT.md
  examples/calendar/datepicker.html
  examples/calendar/index.html
  examples/calendar/interactive.html
  examples/calendar/test.html
  examples/dropdown/index.html
  examples/index.html
  examples/modal/index.html
  examples/stepper/index.html
  package-lock.json
  packages/atoms/package.json
  packages/atoms/src/calendar.css
  packages/atoms/src/datepicker.css
  packages/atoms/src/index.css
  packages/brand-overrides/src/seguros-bolivar/calendar.css
  packages/brand-overrides/src/seguros-bolivar/datepicker.css
  packages/brand-overrides/src/seguros-bolivar/index.css
  packages/bundle/src/builder.ts
  packages/docs/src/atoms/Calendar.stories.ts
  packages/docs/src/atoms/DatePicker.stories.ts
  packages/docs/src/atoms/Spinner.stories.ts
  packages/docs/src/molecules/Dropdown.stories.ts
  packages/docs/src/molecules/Modal.stories.ts
  packages/docs/src/molecules/Toast.stories.ts
  packages/molecules/src/components/Calendar.ts
  packages/molecules/src/components/DatePicker.ts
  packages/molecules/src/index.ts
Due: eslint --fix, prettier --write, sort-package-json

componentes acoden,bradcum,file-upload,tabs
  examples/accordion/README.md
  examples/accordion/index.html
  examples/breadcrumb/README.md
  examples/breadcrumb/index.html
  examples/file-upload/index.html
  examples/file-upload/test-padding.html
  examples/index.html
  examples/tabs/index.html
  packages/atoms/src/accordion.css
  packages/atoms/src/breadcrumb.css
  packages/atoms/src/file-upload.css
  packages/atoms/src/index.css
  packages/atoms/src/tabs.css
  packages/brand-overrides/src/seguros-bolivar/accordion.css
  packages/brand-overrides/src/seguros-bolivar/breadcrumb.css
  packages/brand-overrides/src/seguros-bolivar/index.css
  packages/brand-overrides/src/seguros-bolivar/tabs.css
  packages/bundle/src/builder.ts
  packages/docs/src/atoms/Accordion.stories.ts
  packages/docs/src/atoms/Tabs.stories.ts
Due: eslint --fix, prettier --write

.
  examples/breadcrumb/README.md
  packages/brand-overrides/src/seguros-bolivar/breadcrumb.css
Due: prettier --write
